

/* logo pulse */
.navbar-logo {
    width: 450px;
    margin-top: 120px;
    margin-left: 120px;
    padding:0;
    cursor: pointer;
    pointer-events: visiblePainted;
    animation: fade 6s infinite;
    
}
@keyframes fade {
  0%   { transform: scale(1); opacity: 0.7; }
  10%  { transform: scale(1); opacity: 0.7; }
  15%  { transform: scale(1.2); opacity: 1; }
  17%  { transform: scale(1); opacity: 0.8; }
  20%  { transform: scale(1.15); opacity: 1; }
  40%  { transform: scale(1); opacity: 0.7; }
  100% { transform: scale(1); opacity: 0.7; }
}




.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 170px;
    height: 200px;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 30px;
  margin-right: 450px;
}
.navbar-menu a {
    font-size: 2rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    color: inherit;
    display: flex;
}
.char {
    display: inline-block;
    color: #ffffffc9;
    animation: heartbeat-wave 6s infinite;
}

.nav-item[data-item="1"] .char-0 { animation-delay: 0.0s; }
.nav-item[data-item="1"] .char-1 { animation-delay: 0.02s; }  
.nav-item[data-item="1"] .char-2 { animation-delay: 0.04s; }  
.nav-item[data-item="1"] .char-3 { animation-delay: 0.06s; }  


.nav-item[data-item="2"] .char-0 { animation-delay: 0.08s; }  
.nav-item[data-item="2"] .char-1 { animation-delay: 0.10s; }  
.nav-item[data-item="2"] .char-2 { animation-delay: 0.12s; }  
.nav-item[data-item="2"] .char-3 { animation-delay: 0.14s; } 
.nav-item[data-item="2"] .char-4 { animation-delay: 0.16s; }  
.nav-item[data-item="2"] .char-5 { animation-delay: 0.18s; } 
.nav-item[data-item="2"] .char-6 { animation-delay: 0.20s; } 
.nav-item[data-item="2"] .char-7 { animation-delay: 0.22s; } 


.nav-item[data-item="3"] .char-0 { animation-delay: 0.24s; } 
.nav-item[data-item="3"] .char-1 { animation-delay: 0.26s; } 
.nav-item[data-item="3"] .char-2 { animation-delay: 0.28s; }  
.nav-item[data-item="3"] .char-3 { animation-delay: 0.30s; } 
.nav-item[data-item="3"] .char-4 { animation-delay: 0.32s; }  
.nav-item[data-item="3"] .char-5 { animation-delay: 0.34s; }  
.nav-item[data-item="3"] .char-6 { animation-delay: 0.36s; }  
.nav-item[data-item="3"] .char-7 { animation-delay: 0.38s; } 
.nav-item[data-item="3"] .char-8 { animation-delay: 0.40s; }  

@keyframes heartbeat-wave {
    0%   { color: #ffffffc9; }
    10%  { color: #ffffffc9; }
    15%  { 
        color: rgb(218, 98, 192);
        text-shadow: 0 0 10px rgb(218, 98, 192);
    }
    17%  { color: #ffffffc9; }
    20%  { 
        color: rgb(218, 98, 192);
        text-shadow: 0 0 10px rgb(218, 98, 192);
    }
    25%  { color: #ffffffc9; }
    100% { color: #ffffffc9; }
}
.nav-item:hover .char {
    color: rgb(218, 98, 192) !important;
    text-shadow: 0 0 10px rgb(218, 98, 192);
    animation-play-state: paused;
}


.with{
    color: #ffffffc9;
    font-size: 40px;
}

.btn {
    margin: 100px;
    padding: 15px 40px;
    font-size: 30px;
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
    font-weight: bold;
}
.btn::after {
  content: "";
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #333;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.btn::before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff00aa, #ff00ea, #f700ff, #8c00ff,
    #7700ff, #f700ff, #FF00C8, #9900ff
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  width: calc(100% + 4px);
  height:  calc(100% + 4px);
  filter: blur(8px);
  animation: glowing 20s linear infinite;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}
@keyframes glowing {
  0% {background-position: 0 0;}
  50% {background-position: 400% 0;}
  100% {background-position: 0 0;}
}
.btn:active:after {
  background: transparent;
}
.btn:active {
    color: #000;
}

